# タブなしでスニペット
snippet cbac "context.Background" wA
context.Background()
endsnippet

# 【rafce】reactのスニペット
snippet rafce "" wA
import React from 'react'

const $1 = () => {
  return <div>$0</div>
}

export default $1
endsnippet
